<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/header') %>
<div class="content">
    <%- body %>
</div>
<%- partial('_partial/footer') %>
<%- partial('_partial/after-footer') %>
</body>
</html>